*
{
    margin: 0;
}
.header
{
    background-color: black;
    width: 100%;
    height: 820px;
}
.head
{
    width: 80%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}
.head-burger
{
    width: 60px;
    height: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}
.head-p1
{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
    font-family: sans-serif;
}
.header1
{
    width: 100%;
    height: 90%;
    background-image: url("./earth.png");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.header-p1
{
    color: #FFFFFF;
    font-size: 45px;
    font-weight: 600;
    font-family: sans-serif;
    width: 55%;
    text-align: center;
}
.header-p1-1
{
    background-color: #FFFFFF;
    border-radius: 20px;
    color: black;
    font-size: 45px;
    font-weight: 600;
    font-family: sans-serif;
}
.header-p2
{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    font-family: sans-serif;
    width: 18%;
}
.header-p2-1
{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    font-family: sans-serif;
    width: 10%;
    align-self: flex-start;
}
.header-divs
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 260px;
    margin-right: 120px;
}
.header-div
{
    width: 250px;
    height: 55px;
    background-color: #FFFFFF;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    font-family: sans-serif;
}
.hero-section
{
    background-color: aliceblue;
    width: 100%;
    height: 700px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-section-p1
{
    color: #000000;
    font-size: 50px;
    font-weight: 600;
    font-family: sans-serif;
}
.hero-section1
{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.hero-section-divs
{
    display: flex;
    align-items: end;
    gap: 30px;
}
.hero-section-div1
{
    border-radius: 20px;
    width: 280px;
    height: 160px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.hero-section-div3
{
    border-radius: 20px;
    width: 280px;
    height: 160px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.hero-section-div2
{
    background-color: white;
    border-radius: 20px;
    width: 330px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-section-minidiv
{
    width: 44px;
    height: 44px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #598BE0;
    font-size: 16px;
    font-weight: 600;
    font-family: sans-serif;
}
.hero-section-p2
{
    color: #000000;
    font-size: 20px;
    font-weight: 400;
    font-family: sans-serif;
    width: 80%;
}
.hero-section-p3
{
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    font-family: sans-serif;
    width: 80%;
}
.airplanik2
{
    display: none;
}
.hero-section-buy
{
    background-color: #598BE0;
    border-radius: 10px;
    width: 250px;
    height: 55px;
    display: none;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    font-family: sans-serif;
}
.get
{
    background-color: #222222;
    width: 100%;
    height: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.get-p1
{
    color: #FFFFFF;
    font-size: 50px;
    font-weight: 600;
    font-family: sans-serif;
}
.get1
{
    width: 80%;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.get2
{
    display: flex;
    justify-content: space-between;
}
.get-divs1
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.get-div1
{
    background-color: white;
    border-radius: 10px;
    width: 300px;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}
.get-p2
{
    color: #598BE0;
    font-size: 18px;
    font-weight: 600;
    font-family: sans-serif;
    width: 70%;
}
.get-p3
{
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    font-family: sans-serif;
    width: 65%;
}
.get-div2
{
    background-color: white;
    border-radius: 20px;
    width: 585px;
    height: 490px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.get3
{
    background-color: white;
    border-radius: 20px;
    width: 100%;
    height: 150px;
    display: flex;
}
.get-ps
{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 600px)
{
.header
{
    width: 100%;
    height: 820px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.head
{
    width: 90%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}
.head-burger
{
    width: 60px;
    height: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}
.head-p1
{
    font-size: 20px;
}
.header1
{
    width: 95%;
    height: 90%;
    background-image: url("./earth2.png");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.header-p1
{
    font-size: 35px;
    width: 100%;
    text-align: center;
}
.header-p1-1
{
    font-size: 45px;
}
.header-p2
{
    font-size: 16px;
    width: 50%;
}
.header-p2-1
{
    font-size: 16px;
    width: 50%;
    align-self: flex-start;
}
.header-divs
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
    margin-right: 0px;
    position: relative;
}
.header-div
{
    width: 250px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-size: 16px;
    position: absolute;
    top: 150px;
}
.hero-section
{
    width: 99%;
    height: 2000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-section-p1
{
    font-size: 40px;
    text-align: center;
}
.hero-section1
{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.airplanik1
{
    display: none;
}
.airplanik2
{
    display: block;
}
.hero-section-divs
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.hero-section-div1
{
    background-color: white;
    width: 100%;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
}
.hero-section-div3
{
    background-color: white;
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
}
.hero-section-div2
{
    display: none;
}
.hero-section-minidiv
{
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}
.hero-section-p2
{
    font-size: 20px;
    width: 80%;
}
.hero-section-p3
{
    font-size: 16px;
    width: 80%;
}
.hero-section-buy
{
    display: flex;
}.get
{
    width: 100%;
    height: 1600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.get-p1
{
    font-size: 40px;
}
.get1
{
    width: 85%;
    height: 1330px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.get2
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}
.laptop
{
    width: 300px;
}
.get-divs1
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.get-div1
{
    width: 90%;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}
.get-div2
{
    width: 100%;
    height: 275px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.get3
{
    display: none;
}
}