*
{
    margin: 0;
}
.header
{
    background-color: black;
    width: 100%;
    height: 820px;
}
.head
{
    width: 80%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}
.head-burger
{
    width: 60px;
    height: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}
.head-p1
{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
    font-family: sans-serif;
}
.header1
{
    width: 100%;
    height: 90%;
    background-image: url("./earth.png");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.header-p1
{
    color: #FFFFFF;
    font-size: 45px;
    font-weight: 600;
    font-family: sans-serif;
    width: 55%;
    text-align: center;
}
.header-p1-1
{
    background-color: #FFFFFF;
    border-radius: 20px;
    color: black;
    font-size: 45px;
    font-weight: 600;
    font-family: sans-serif;
}
.header-p2
{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    font-family: sans-serif;
    width: 18%;
}
.header-p2-1
{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    font-family: sans-serif;
    width: 10%;
    align-self: flex-start;
}
.header-divs
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 260px;
    margin-right: 120px;
}
.header-div
{
    width: 250px;
    height: 55px;
    background-color: #FFFFFF;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    font-family: sans-serif;
}
.hero-section
{
    background-color: aliceblue;
    width: 100%;
    height: 700px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-section-p1
{
    color: #000000;
    font-size: 50px;
    font-weight: 600;
    font-family: sans-serif;
}
.hero-section1
{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.hero-section-divs
{
    display: flex;
    align-items: end;
    gap: 30px;
}
.hero-section-div1
{
    border-radius: 20px;
    width: 280px;
    height: 160px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.hero-section-div3
{
    border-radius: 20px;
    width: 280px;
    height: 160px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.hero-section-div2
{
    background-color: white;
    border-radius: 20px;
    width: 330px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-section-minidiv
{
    width: 44px;
    height: 44px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #598BE0;
    font-size: 16px;
    font-weight: 600;
    font-family: sans-serif;
}
.hero-section-p2
{
    color: #000000;
    font-size: 20px;
    font-weight: 400;
    font-family: sans-serif;
    width: 80%;
}
.hero-section-p3
{
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    font-family: sans-serif;
    width: 80%;
}
.airplanik2
{
    display: none;
}
.hero-section-buy
{
    background-color: #598BE0;
    border-radius: 10px;
    width: 250px;
    height: 55px;
    display: none;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    font-family: sans-serif;
}
.get
{
    background-color: #222222;
    width: 100%;
    height: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.get-p1
{
    color: #FFFFFF;
    font-size: 50px;
    font-weight: 600;
    font-family: sans-serif;
}
.get1
{
    width: 80%;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.get2
{
    display: flex;
    justify-content: space-between;
}
.get-divs1
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.get-div1
{
    background-color: white;
    border-radius: 10px;
    width: 300px;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}
.get-p2
{
    color: #598BE0;
    font-size: 18px;
    font-weight: 600;
    font-family: sans-serif;
    width: 70%;
}
.get-p3
{
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    font-family: sans-serif;
    width: 65%;
}
.get-div2
{
    background-color: white;
    border-radius: 20px;
    width: 585px;
    height: 490px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.get3
{
    background-color: white;
    border-radius: 20px;
    width: 100%;
    height: 150px;
    display: flex;
}
.get-ps
{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cost
{
    width: 100%;
    height: 950px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.cost-p1
{
    color: #000000;
    font-size: 50px;
    font-weight: 600;
    font-family: sans-serif;
}
.cost-p2
{
    color: #131313;
    font-size: 20px;
    font-weight: 400;
    font-family: sans-serif;
    width: 70%;
}
.cost-p3
{
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    font-family: sans-serif;
    width: 70%;
}
.cost-divs
{
    display: flex;
    position: relative;
}
.cost-div1
{
    background-color: #EAEBED;
    border: 1px solid #C6C6C6;
    border-radius: 15px;
    width: 580px;
    height: 585px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    z-index: 2;
}
.behind
{
    position: absolute;
    top: -40px;
    z-index: 1;
}
.cost-minidiv1
{
    background-color: white;
    border-radius: 10px;
    width: 390px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cost-minidiv2
{
    border-radius: 10px;
    width: 390px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cost-hr
{
    border: 2px solid #FFFFFF;
    width: 80%;
}
.cost-hr2
{
    border: 1px solid #DADADA;
    width: 80%;
}
.cost-div2
{
    border: 1px solid #DADADA;
    border-radius: 15px;
    width: 580px;
    height: 585px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.cost-both
{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cost-fon
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #598BE0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cost-img
{
    width: 22px;
    height: 22px;
}
.product
{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.product-p1
{
    color: #000000;
    font-size: 50px;
    font-weight: 600;
    font-family: sans-serif;
}
.product-p2
{
    color: #000000;
    font-size: 20px;
    font-weight: 400;
    font-family: sans-serif;
}
.product-p3
{
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    font-family: sans-serif;
}
.product-txt
{
    width: 70%;
    height: 80px;
    display: flex;
    align-items: end;
    justify-content: space-between;
    position: relative;
    right: 100px;
}
.product-txt-2
{
    width: 70%;
    height: 80px;
    display: flex;
    align-items: end;
    justify-content: space-between;
    position: relative;
    left: 100px;
}
.product-txt1
{
    width: 266px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product-txt2
{
    width: 250px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product-txt3
{
    width: 330px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product-txt4
{
    width: 265px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.mormorak-dot
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.dot1
{
    position: absolute;
    right: 965px;
    bottom: 10px;
}
.dot2
{
    position: absolute;
    right: 1180px;
    top: 15px;
}
.dot3
{
    position: absolute;
    right: 785px;
    bottom: 15px;
}
.dot4
{
    position: absolute;
    right: 640px;
    bottom: 0px;
}
.dot5
{
    position: absolute;
    right: 430px;
    bottom: 15px;
}
.dot6
{
    position: absolute;
    right: 165px;
    bottom: 0px;
}
.mormorak2
{
    display: none;
}
.dot1-1
{
    display: none;
}
.dot2-1
{
    display: none;
}
.dot3-1
{
    display: none;
}
.dot4-1
{
    display: none;
}
.dot5-1
{
    display: none;
}
.dot6-1
{
    display: none;
}
@media (max-width: 600px)
{
.header
{
    width: 100%;
    height: 820px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.head
{
    width: 90%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}
.head-burger
{
    width: 60px;
    height: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}
.head-p1
{
    font-size: 20px;
}
.header1
{
    width: 95%;
    height: 90%;
    background-image: url("./earth2.png");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.header-p1
{
    font-size: 35px;
    width: 100%;
    text-align: center;
}
.header-p1-1
{
    font-size: 45px;
}
.header-p2
{
    font-size: 16px;
    width: 50%;
}
.header-p2-1
{
    font-size: 16px;
    width: 50%;
    align-self: flex-start;
}
.header-divs
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
    margin-right: 0px;
    position: relative;
}
.header-div
{
    width: 250px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-size: 16px;
    position: absolute;
    top: 150px;
}
.hero-section
{
    width: 99%;
    height: 2000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-section-p1
{
    font-size: 40px;
    text-align: center;
}
.hero-section1
{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.airplanik1
{
    display: none;
}
.airplanik2
{
    display: block;
}
.hero-section-divs
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.hero-section-div1
{
    background-color: white;
    width: 100%;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
}
.hero-section-div3
{
    background-color: white;
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
}
.hero-section-div2
{
    display: none;
}
.hero-section-minidiv
{
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}
.hero-section-p2
{
    font-size: 20px;
    width: 80%;
}
.hero-section-p3
{
    font-size: 16px;
    width: 80%;
}
.hero-section-buy
{
    display: flex;
}.get
{
    width: 100%;
    height: 1600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.get-p1
{
    font-size: 40px;
}
.get1
{
    width: 85%;
    height: 1330px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.get2
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}
.laptop
{
    width: 300px;
}
.get-divs1
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.get-div1
{
    width: 90%;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}
.get-div2
{
    width: 100%;
    height: 275px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.get3
{
    display: none;
}
.cost
{
    width: 99%;
    height: 1300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.cost-p1
{
    font-size: 40px;
    width: 80%;
    text-align: center;
}
.cost-p2
{
    font-size: 20px;
    width: 70%;
}
.cost-p3
{
    font-size: 18px;
    width: 70%;
}
.cost-divs
{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}
.cost-div1
{
    width: 90%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    z-index: 2;
}
.behind
{
    position: absolute;
    top: -40px;
    right: 180px;
    z-index: 1;
}
.cost-minidiv1
{
    width: 300px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cost-minidiv2
{
    width: 300px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cost-div2
{
    width: 90%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.product
{
    width: 99%;
    height: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    position: relative;
}
.product-p1
{
    font-size: 40px;
    text-align: center;
}
.product-txt
{
    width: 95%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    position: relative;
    right: 0px;
}
.product-txt-2
{
    width: 95%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    position: relative;
    left: 0px;
}
.product-txt1
{
    width: 266px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product-txt2
{
    width: 250px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product-txt3
{
    width: 330px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product-txt4
{
    width: 265px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.mormorak-dot
{
    display: none;
}
.mormorak
{
    display: none;
}
.mormorak2
{
    display: block;
    position: absolute;
    top: 230px;
    left: 350px;
}
.dot1-1
{
    display: block;
    position: absolute;
    top: 225px;
    left: 345px;
}
.dot2-1
{
    display: block;
    position: absolute;
    top: 355px;
    left: 350px;
}
.dot3-1
{
    display: block;
    position: absolute;
    top: 465px;
    left: 350px;
}
.dot4-1
{
    display: block;
    position: absolute;
    top: 585px;
    left: 350px;
}
.dot5-1
{
    display: block;
    position: absolute;
    top: 730px;
    left: 360px;
}
.dot6-1
{
    display: block;
    position: absolute;
    top: 920px;
    left: 360px;
}
}